<%= link_to "Re-run benchmark test", game_benchmark_path %>

<%= content_tag :div, class: "grid_information", data: {m: $m, n: $n} do %>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {

    $('#click').on('click', function() {
      $('#start-header').css('border', '3px solid red');
    });

  });
</script>

<script type="text/javascript">
//  alert("woho!!!")
</script>


<script type="text/javascript">
  function myFunction()
  {
    alert("Woho!!!")
  }
</script>

<button onclick="myFunction()"> Click me!!</button>

<a href="#" id="next-button">next</a>
<a href="#" id="start-button">start</a>


<script type="text/javascript">
/*  $.ajax({
    type: 'GET',
    url: '/game/get_aj',
    success: function(data,status,xhr){
      console.log(data);
      alert(data.message);
    },
    error: function(xhr,status,error){
      console.log(xhr);
      alert(error);
    }
  });*/

var toPutData = new Object();
toPutData['one'] = 1;
toPutData['two'] = 2;
toPutData['three'] = 3;


$('#next-button').click(function(event){

  $.ajax({
    type: 'PUT',
    url: "/game/test",
    data: JSON.stringify(toPutData),
    contentType: "application/json",
    success: function(result) {
      alert("success?");
    },
    error: function(xhr,status,error){
      console.log(xhr);
      document.write(error);
    }
  });
});

$('#start-button').click(function(event){
  $.ajax({
    type: 'GET',
    url: '/game/get_aj2',
    success: function(data2,status,xhr){
      console.log(data2);
      document.write(data2['0 0']);
      data2['0 0'] = 3;
      //document.write(data2['0 0']);
    },
    error: function(xhr,status,error){
      console.log(xhr);
      document.write(error);
    }
  });
});


</script>