<%= content_tag :div, class: "grid_information", data: {m: $m, n: $n, gh: @grid_hash.cells} do %>
<% end %>

<a href="#" id="take-a-step-button">Take a step</a>

<%= link_to "Start over", game_start_path %>






