<a href="#" id="take-a-step-button">Save grid and take a step</a>
<br>
<a href="#" id="start-cycle-button">Start cycle</a>
<br>
<a href="#" id="stop-cycle-button">Stop cycle</a>
<br>
<a href="#" id="save-button">save grid</a>
<br>
<a href="#" id="step-button">take a step without saving</a>
<br>
<%= link_to "Start over", game_start_path %>
<br>
<div id="grid-container">
    <%= render partial: "grid.html.erb"  %>
</div>



