// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  outline: 1px solid;
  width: 30px;
  height: 30px;
}

.alive {
  background-color: red;
}

.dead {
  background-color: white;
}