// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.grid {
  margin:1em auto;
  border-collapse:collapse
}

.grid td {
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #ccc;
}

.grid td.alive {
  background-color:red;
}

.grid td.dead {
  background-color:white;
}