<!DOCTYPE html>
<html>
<head>
  <title>GameOfLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--<script type="text/javascript">
  $(document).ready(function() {

    $('#click').on('click', function() {
      $('#start-header').css('border', '3px solid red');
    });

  });
</script>-->

<%= yield %>

</body>
</html>
